{{> header}}

<main>
  <h1>Dashboard</h1>
  <div class="post-list">
    {{#each posts}}
      <article>
        <h2><a href="/dashboard/edit/{{id}}">{{title}}</a></h2>
        <p>{{content}}</p>
        <button data-id="{{id}}" class="delete-post">Delete</button>
      </article>
    {{/each}}
  </div>
  <form id="new-post-form">
    <input type="text" id="post-title" name="title" placeholder="Post Title" required>
    <textarea id="post-content" name="content" placeholder="Post Content" required></textarea>
    <button type="submit">Add Post</button>
  </form>
</main>
<script src="/js/post.js"></script>
