{{!< layouts/main }}

<main class="container">
  <section class="blog-list">
    {{#each posts}}
      <article class="blog-post">
        <header>
          <h2 class="post-title">{{title}}</h2>
          <p class="post-meta">Posted by {{user.username}} on {{format_date createdAt}}</p>
        </header>
        <div class="post-content">
          {{content}}
        </div>
      </article>
    {{/each}}
  </section>
</main>
