{{!< layouts/main }}

<main class="container">
  <h1>Login</h1>
  <form id="login-form">
    <input type="text" id="username-login" name="username" placeholder="Username" required>
    <input type="password" id="password-login" name="password" placeholder="Password" required>
    <button type="submit">Login</button>
  </form>
  <a href="/signup">Sign up</a>
</main>
<script src="/js/login.js"></script>
